.card-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card {
  flex: 1;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
}

.card:nth-child(2) {
  order: -1;
  background-color: rgb(92, 133, 172);
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}
